/*
------------------------
	MISURE
-----------------------
*/
// Altezza della barra di navgiazione
$top-menu-navigation-height: 50px;
// larghezza del menu laterale di sinistra
$left-menu-width: 50px;

/*
------------------------
	COLORI
-----------------------
*/
$primary-color: #3792E5;
$background-color: #f0f0f0;
/* GRIGIO */
$dark-grey: #404040;
$shuttle-grey: #5f6368;
$medium-grey: #abb7b7;
$light-grey: #dadce0;
/* ROSSO */
$red: #f03434;