@import "../../styles/variables";

.toggleSwitch {
    height : 20px;
    .slider { 
        position : relative ;
        display : inline-block;
        width : 40px;
        height : 20px;
        background-color: $light-grey;
        border-radius: 20px;
        &::after {
            content: '';
            position: absolute;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            background-color: white;
            top: 1px; 
            left: 1px;
            transition: all 0.3s;
          }
      }
    .checkbox {
        position: absolute;
        z-index: 100;
        width : 40px;
        height : 20px;
        opacity: 0;
        &:checked + .slider::after { left : 20px; }
        &:checked + .slider { background-color:$primary-color;}
    }
  }