@import "../../styles/variables";

.container {
  position: relative;

  a {
    text-decoration: none;
  }

  .header {
    height: $top-menu-navigation-height;
    z-index: 100;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    background: $primary-color;

    .logoContainer {
      flex: 1;
      display: flex;
      align-items: center;

      .logoImage {
        display: flex;
        align-items: center;
        justify-content: center;
        width: $left-menu-width;
        height: $top-menu-navigation-height;
        // background:$dark-grey;
        background: darken($color: $primary-color, $amount: 10%);
        margin-right: .5rem;

        img  {
          $r: 2rem;
          width:$r;
          height: $r;
        }
      }

      .logo {
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: bold;
        color: #fff;
      }
    }

    &Nav {
      flex: 1;

      .navLinks {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style: none;

        .navLink {
          height: $top-menu-navigation-height;
          color: $background-color;
          display: flex;
          align-items: center;
          text-transform: uppercase;         
          font-size: 1rem;
          transition: font-weight .4s;
          &.active {
            border-bottom: solid 3px $background-color;
          }
          &:hover {
            font-weight: bold;
          }
        }
      }
    }
  }
}
