@import "../../styles/variables";
@import "../../styles/utilities";

$page-height: calc(100vh - #{$top-menu-navigation-height});
$form-width:70vw;
$max-form-width: 50rem;
$form-height: 60vh;
$max-form-height: 80vh;

.CreateClassPage {
    background: $background-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: $page-height;
    @media (max-height:450px) { height: fit-content; }
    @include phone {  background: #fff; }

    .container {
        $horizontal-padding: 1rem;

        .title { 
            font-family: "Lato";
            color:$primary-color;
            font-weight: 900;
            padding:$horizontal-padding;
            font-size: 2rem;
            @include phone { font-size: 1.5rem; }
        }
        // FORM
        .form {
            @include box-shadow;
            background: #fff;
            border-radius: 4px;
            display: flex;
            flex-direction: column;
            width: $form-width;
            max-width: $max-form-width;
            height: $form-height;

            @media (max-height:450px) { height: fit-content;}
            @include phone {
                height: $max-form-height; 
                width:100vw;
                min-width: 0;
                background: transparent;
                border-top: solid 2px $medium-grey;
                @include remove-shadow;
            }
            
            #CreateClassPage__form-content {
               flex:1;
               min-width: 0;
               min-height: 0;
               overflow: hidden;
                .subtitle {
                    color:#4A4A4A;
                    margin-bottom: 1rem;
                    display: flex;
                    align-items: center;
                    h4 {
                        font-weight: 300;
                        font-size: 1.2rem;
                    }
                    .number-circle {
                        $r: 2.5rem;
                        margin-right: 1rem;
                        position: relative;
                        color:$medium-grey;
                        width:$r;
                        height: $r;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        svg {
                            width:$r;
                            height: $r;
                          position: absolute;
                        }
                        &__number {
                            z-index: 2;
                            font-size: calc(#{$r}/2);
                        }
                    }
                }

                .field {
                    margin: 1.5rem 0;
                    width: 100%;
                    .input {
                        background: $light-grey;
                        padding: 0.7rem 0.5rem;
                        font-size: 1rem;
                        border: none;
                        border-radius: 5px;    
                        width: 100%;
                    }
                    .error-text {
                        color: $red;
                    }
                }
            }

            // PARTE INFERIORE CON I BOTTONI PER LA NAVIGAZIONE
            .form-footer {
                display: flex;
                padding: $horizontal-padding;
                @include phone {padding-bottom: 0;}
                .dots {
                    flex:1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .dot {
                        margin: 0 0.5rem;
                        $radius: 10px;
                        width:$radius;
                        height: $radius;
                        border-radius: $radius;
                        background:$shuttle-grey;
                        &.active {
                            background: $primary-color;
                            transform: scale(1.2);
                        }                  
                    }
                }

                button {
                    border-radius: 20px;
                    border:none;
                    padding: .5rem 1rem;
                    text-transform: uppercase;
                    color:#fff;
                    font-weight: bold;
                    transition: all .4s;   
                    &#btn-prev {  background: $dark-grey; }
                    &#btn-next { background: $primary-color; }
                    @include hover-supported { @include box-shadow; }
                    &:not(.temporarilyDisabled) {
                        &:active { transform: scale(1.3); }
                    }
                    &:disabled {
                        opacity: .5;
                        cursor: not-allowed;
                    }
                }
            }
        }

        // I FORM (INFROMAZIONI GENERALI SULLA CLASSE)
        .GeneralInformationsForm {
            display: flex;
            padding: $horizontal-padding;
            .inputs {
                flex:1;
                display: flex;
                height: 100%;
                flex-direction: column;
                .fields {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
            }
            .image {
                flex:1;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                $image-width: 17rem;
                p {
                    margin:1rem;
                    width:$image-width;
                    letter-spacing: 2px;
                }
                img { width:$image-width; }
            }
            // Dipositivi che si sviuluppano in altezza
            @media (min-height: 950px) { 
                flex-direction: column; 
                .fields { padding: 0 2rem; }
            }
            // dispositivi corti
            @media (max-height:450px) { .image { display: none; } }
            // telefoni verticali
            @include phone { .image { display: none; } }
        }
       // II FORM (STUDENTI DELLA CLASSE)
        .StudentsForm {
            display: flex;
            padding: $horizontal-padding;
            .left {
                flex:7;
                .input-box {
                    display: flex;
                    button {
                        background: #57B845;
                        color:#fff;
                        font-family: 1.3rem;
                        margin: 1.5rem 0;
                        padding: 0.7rem 0.5rem;
                        border: none;
                        border-radius: 5px;
                        margin-left: .5rem;
                        transition: all .4s;
                        pointer-events: auto;
                        &:disabled {
                            opacity: .5;
                            cursor: not-allowed;
                        }
                        &:active:enabled{
                            transform: scale(1.2);
                        }
                        &:hover:enabled{
                            background: #4A4A4A;
                        }
                    }
                }
            }
            .right {
                flex:3;
                margin-left: 2rem;
                overflow-y: auto;
                max-height: calc(#{$form-height} - 8rem);
                .student-card {
                    background: $light-grey;
                    margin: .5rem 0;
                    padding: .5rem;
                    border: none;
                    border-radius: 5px;
                    width: 100%;
                    display: flex;
                    span { 
                        font-size: .8rem;
                        flex:1;
                    }
                    svg { 
                        color: $shuttle-grey;
                        @include hover-supported {color:$red; }
                    }
                }
            }
            // Visone mobile
            @mixin mobile {
                flex-direction: column; 
                padding-bottom: 0;
                .left {
                    flex:1;
                    .input-box button { background: #4A4A4A !important; }
                }
                .right {
                    margin:0;
                    .student-card{
                        width: fit-content;
                        span {margin-right: .5rem;}
                    }
                }
            }
            // Dipositivi che si sviuluppano in altezza
            @media (min-height: 950px) {@include mobile;}
            // Telefoni
            @include phone {@include mobile;}              
        }
       // III FORM 
        .ArrangeDesks {
            padding: $horizontal-padding;
            .container {
                display: flex; 
                justify-content: center;
                .desks-info {
                    margin: 0.5rem 0;
                    color:$shuttle-grey;
                }
                canvas {
                    border-radius: 3px;
                    border: 2px solid $light-grey;
                }
            }
        }
        // IV FORM 
        .CreateClassPage__LastStep {
            padding: $horizontal-padding;
            .error-box{
             background: #d64541;
             color: #fff;
             font-family: "Lato";
             border-radius: 5px;
             padding: .5rem;
             .errors {
                margin: 1rem 0;
                .error {
                    color: $background-color;
                    margin-bottom: 20px;
                    border-radius: 5px;
                    padding: .5rem;
                    display: inline-block;
                }
              }
            }
            .loading-box {
                display: flex;
                justify-content: center;
            }
            .success-box {
                $green: #57B845;
                h1 {
                    color: $shuttle-grey;
                    font-size: 1.5rem;
                    svg {color: $green; }
                }
                p {
                    margin: 1.5rem 0;
                    font-size: 1rem;
                    color: $dark-grey;
                }
                .id-box {
                    background: $light-grey;
                    padding: 0.7rem 2rem;
                    border-radius: 5px;
                    border: none;
                    input {
                        max-width: 150px;
                        margin-right: .5rem;
                        background: transparent;
                        border:none;
                        color:$dark-grey;
                        font-size: 1rem;
                        user-select: all;
                    }
                    button {
                        margin-left: .5rem;
                        background: transparent;
                        border:none;
                        color:$dark-grey;
                        font-size: 1rem;
                        transition: all .4s;
                        &:active { transform: scale(1.2); }
                        &:hover { color:#000; }
                    }
                }
                .class-link-button {
                    background: $green;
                    margin: 1.5rem 0;
                    padding: 0.7rem 2rem;
                    border: none;
                    border-radius: 5px;
                    display: flex;
                    align-items: center;
                    transition: all .4s;
                    &:hover {
                        @include box-shadow
                    }
                    a,svg {
                        color: #fff;
                        font-size: .9rem;
                    }
                    a {
                        text-decoration: none;
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}
