@import "../../styles/variables";
@import "../../styles/utilities";

.tools {
    $space: 5px;
    margin-bottom: $space;
    display: flex;

    .tool,.action {
        $dimension: 1.7rem;
        width: $dimension;
        height: $dimension;
        border-radius: $space;
        margin-right: $space;
        border: none;
        background: $light-grey;
        transition: all .4s;
        &:disabled { opacity: .4;}
        &:enabled { @include hover-supported{ transform: translateY(-8px); }}
    }
    .action:active:enabled {transform: scale(1.2);}
    .tool.active {
        color:#fff;
        background: $primary-color;
    }
    .actions {
        $border: 2px;
        border-left: solid $border $shuttle-grey;
        padding-left: calc(#{$space} + #{$border});
    }
    .trashPopUp {
        display: flex;
        padding: .5rem 1rem;
        button {
            outline: none;
            border:none;
        }
        .left {
            margin-right: 10px;
            button {
                background: $red;
                padding: .5rem 1rem;
                color: #fff;
                border-radius: 5px;
                margin-top: 10px;
                @include hover-supported {
                    animation: wobble .7s;
                }
            }
        }
        .right {
           button {
               color: #000;
               background: transparent;
               @include hover-supported  {
                color: $red;
               }
           }
        }
    }
    .zoomPopUp {
        padding: .1rem .5rem;
        input {
            -webkit-appearance: none;
            width: 100%;
            height: 10px;
            border-radius: 6px;
            background: $light-grey;
            outline: none;
            -webkit-transition: .2s;
            transition: background .2s;
            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 16px;
                height: 16px;
                border-radius: 8px;
                background: $primary-color;
                cursor: pointer;
            }
            &::-moz-range-thumb {
                width: 16px;
                height: 16px;
                border-radius: 8px;
                background: $primary-color;
                cursor: pointer;
            }
            @include hover-supported { background: $medium-grey; }
        }
    }
}

